services:
  backend:
    build: ./backend
    container_name: fullstack-backend
    env_file:
      - ./backend/.env
    ports:
      - "4000:4000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_SERVER_URL: "http://localhost:4000"
        NEXT_PUBLIC_MY_URL: "http://localhost:3000"
    environment:
      NEXT_PUBLIC_SERVER_URL: "http://localhost:4000"
      NEXT_PUBLIC_MY_URL: "http://localhost:3000"
    ports:
      - "3000:3000"
    depends_on:
      - backend

